*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

#scrollUp {
    background-image: url("../../assets/img/up-arrow.png");
    bottom: 20px;
    right: 20px;
    width: 32px;    /* Width of image */
    height: 32px;   /* Height of image */
}

p
{
    text-align: justify;
    
}
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
*{
    font-family: 'Satisfy', cursive;
}

nav{
    background: #ffffff;
    height: 80px;
    width: 100%;
    box-shadow: 2px 2px 10px;
}
.enlace{
    position: absolute;
    padding: 10px 50px;
}
.logo{
    width: 100%;
    height: 80px;
    padding-bottom: 15px;
    box-sizing: border-box;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #14BC51;
    font-size: 18px;
    padding: 10px 13px;
    border-radius: 3px;
    
}

li a.active, li a:hover{
    background: #14BC51;
    transition: .5s;
    color: #ffffff;
}

/*Contenido de la pagina*/
.contenedor
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: rgb(255, 255, 255);
      
}
.image
{
    width: 650px;
    height: 400px;
    margin-left: 50px;
    margin-right: 50px;
    box-shadow: 0 0 30px; 
}

.image-mod
{
    width: 650px;
    height: 400px;
    margin-left: 10px;
    margin-right: 25px;
    box-shadow: 0 0 30px; 
}

.image_infra
{
    width: 350px;
    height: 350px;
    margin-left: 20px;
    margin-right: 10px;
    box-shadow: 0 0 30px; 
}

.caja-sistem
{
    
    height: 80px;
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.caja-sistem img
{
    width: 200px;
    height: 200px;
}

.text
{
    padding-left: 50px;
    padding-right: 50px;
    font-size: 18px;
}

.titulo
{
    text-align: center;
    position: relative;
    
}

h1
{
    display: inline-block;
    position: relative;
    text-align: center;
    color: #66CBFF;
}

h1::after,h1::before
{
    content: '';
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: currentColor;
    top: 0.6em;
    transform: scale(0);
    transition: all 0.2s ease-in;
}

h1:hover::before, h1:hover::after
{
    transform: scale(1);
}

h1::before
{
    left: -140px;
}

h1::after
{
    right: -140px;
}

.text-dos
{
    display: flex;
    padding-right: 40px;
    padding-left: 40px;
    font-size: 18px;
    
}

/*Cards*/
.container-card{
	width: 100%;
    
	display: flex;
	max-width: 1100px;
	margin: auto;
}
.title-cards{
	width: 100%;
	max-width: 1080px;
	margin: auto;
	padding: 20px;
	margin-top: 20px;
	text-align: center;
	color: #7a7a7a;
}
.card{
	width: 100%;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background:#fff;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: default;
}
.card:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);
}
.card img{
	width: 100%;
	height: 300px;
}
.card .contenido-card{
	padding: 10px;
	text-align: center;
}
.card .contenido-card h3{
	margin-bottom: 15px;
}
.card .contenido-card h4
{
    margin-bottom: 10px;
    color: #7a7a7a;
}
.card .contenido-card p{
	line-height: 1.8;
	color: #6a6a6a;
	font-size: 14px;
	margin-bottom: 5px;
}
.card .contenido-card a{
	display: inline-block;
	padding: 10px;
	margin-top: 10px;
	text-decoration: none;
	color: #2fb4cc;
	border: 1px solid #2fb4cc;
	border-radius: 4px;
	transition: all 400ms ease;
	margin-bottom: 5px;
}
.card .contenido-card a:hover{
	background: #2fb4cc;
	color: #fff;
}
/*Fin Cards*/

main
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

section
{
    background: #14BC51;
    color: #fff;
    width: 300px;
    margin: 10px;
}

.header
{
    margin: 0px;
    text-align: center;
    font-size: 25px;
    padding: 10px;
}

.one
{
    background: #66CBFF;
}

.two
{
    background: #ff9800;
}

.three
{
    background: #f44336;
}

.cash span
{
    display: block;
    font-size: 40px;
}

.ul-card li
{
    list-style-type: none;
    text-align: center;
    border-bottom: 1px solid rgb(255, 255, 255);
    padding: 10px;
    font-size: 18px;
}

/*Card de la comunidad educativa*/


.team{
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.team-area{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.single-team{
    width: 320px;
    height: 420px;
    overflow: hidden;
    position: relative;
    margin: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, 
                rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.single-team::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s ease;
    opacity: 0;
}
.single-team:hover:after{
    position: absolute;
    content: '';     
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;   
    opacity: 1;
    transform: translateY(0);
    background: linear-gradient(45deg, rgba(0, 108, 255, 0.8) 20%, rgba(0, 108, 255, 0));
    z-index: 2;
}
.single-team img{
    height: auto;
    transition: all 0.5s ease;
    width: 100%;
    height: auto;
    object-fit: cover;
    min-height: 100%;    
}
.single-team:hover img{
    transform: scale(1.3) translate(5%, 5%);
}

.single-team .info {
    overflow: hidden;
	transform: translateX(-110%);
	transition: all 0.5s ease;
	position: absolute;
	left: 5%;
	right: 5%;
	bottom: 5%;
	padding: 5px 15px;
	border-left: 3px solid #ffffff;
	border-radius: 15px 0 0 15px;
	color: #ffffff;
	z-index: 3;
	opacity: 0;
	
}
.single-team:hover .info{
    opacity: 1;
    transform: translateX(0);
}
.info h3{
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;    
}
.info p{
    font-size: 12px;
    line-height: 20px;
}
.info h3, 
.info p{
    transition: all 0.7s ease;
    transform: translateX(-100%);   
    overflow: hidden;
}
.single-team:hover .info h3, 
.single-team:hover .info p{
    transform: translateX(0);
}

/*Card de Infraestructura*/
.container{
    height: 500px;
    display: flex;
    min-width: 400px;
    align-items: flex-end;
    justify-content: center;
    margin-top: -55px;
    margin-bottom: 20px;
  }
  .icon-image{
    position: relative;
    height: 70px;
    width: 70px;
    margin: 0 5px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    background: #fff;
  }
  .icon-image .icon img{
    position: absolute;
    height: 95%;
    width: 95%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #0396FF;
  }
  .icon-image::before{
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50%;
    top: -50px;
    transform: translateX(-50%);
  }
  .icon-image .hover-image{
    position: absolute;
    height: 350px;
    width: 300px;
    bottom: 100px;
    left: 50%;
    z-index: 0;
    transform: translateX(-50%);
    border-radius: 25px;
    pointer-events: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    transition: transform 0.5s ease, z-index 0s, left 0.5s ease ;
    transition-delay: 0s, 0.5s, 0.5s;
  }
  .icon-image:hover .hover-image{
    left: -200px;
    z-index: 12;
    transform: translateX(80px);
    transition: left 0.5s ease, z-index 0s, transform 0.5s ease;
    transition-delay: 0s, 0.5s, 0.5s;
  }
  .hover-image img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 25px;
  }
  .hover-image .content{
    position: absolute;
    width: 100%;
    bottom: -10px;
    padding: 0 10px;
  }
  .content::before{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background: #fff;
    left: 50%;
    bottom: -7px;
    transform: rotate(45deg) translateX(-50%);
    z-index: -1;
  }
  .content .details{
    position: relative;
    background: #fff;
    padding: 10px;
    border-radius: 12px;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transform: translateY(10px);
  }
  .icon-image:hover .details{
    transition: all 0.5s ease;
    transition-delay: 0.9s;
    opacity: 1;
    transform: translateY(4px);
    pointer-events: auto;
  }
  .details::before{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background: #fff;
    left: 50%;
    bottom: -15px;
    transform: rotate(45deg) translateX(-50%);
    z-index: -1;
  }
  .content .details .name{
   font-size: 20px;
   font-weight: 500;
  }
  .content .details .job{
   font-size: 17px;
   color: #0396FF;
   margin: -3px 0 5px 0;
  }
  .content .details a:hover{
    color: #0396FF;
  }
  .container .last .hover-image{
    transition: none;
  }
  .container .last:hover .hover-image{
    transition: 0;
  }
  .last:hover .details{
    transition-delay: 0s;
  }
  

/*Fin del Card Infraestructura*/

/*Formulario de informacion de aranceles*/
.form-register {
    width: 700px;
    background: #ffffff;
    padding: 30px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    font-family: 'calibri';
    color: #0396FF;
    box-shadow: 7px 13px 37px #000;
  }
  
  .form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .controls {
    width: 100%;
    background: #ffffff;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: black;
  }
  
  .form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  .form-register a {
    color: white;
    text-decoration: none;
  }
  
  .form-register a:hover {
    color: white;
    text-decoration: underline;
  }
  
  .form-register .botons {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }

/*Fin del formulario de informacion de aranceles*/


  /*Slider de las modalidades*/
  .slider {
    width: 75vw;
    height: auto;
    margin: auto;
    overflow: hidden;
    margin-bottom: 20px;
}

.slider .slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(200px * 14);
}

.slider .slide {
    width: 200px;
    height: 200px;
    margin-left: 20px;
}

.slider .slide img {
    width: 100%;
    height: 100%;
    
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-200px * 7));
        transform: translateX(calc(-200px * 7));
    }
}
  
  /*Fin del slider de las modalidades*/
  

/*Fin del contenido de la pagina*/


/*Inicio de Inicio de sesión al sistema*/

h5 {
	text-align: center;
	color: #82807f;
	margin: 40px auto;
	font-size: 20px;
	width: 50%;
	line-height: 1.7;
}
.box-sistem {
	text-align: center;
    margin-bottom: 50px;
}
.button-sistem {
    font-size: 1em;
	padding: 15px 35px;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	transition: all 0.3s ease-out;
	background: #14BC51;
	border-radius: 50px;
    margin-top: 10px;
}
.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.8);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
}
.overlay:target {
	visibility: visible;
	opacity: 1;
}
.wrapper {
	margin: 70px auto;
	padding: 20px;
	background: #e7e7e7;
	border-radius: 5px;
	width: 30%;
	position: relative;
	transition: all 5s ease-in-out;
}
.wrapper h2 {
	margin-top: 0;
	color: #333;
}
.wrapper .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}
.wrapper .close:hover {
	color: #06D85F;
}
.wrapper .content-sistem {
	max-height: 30%;
	overflow: auto;
}
/*form*/

.container-sistem {
	border-radius: 5px;
	background-color: #e7e7e7;
	padding: 20px 0;
}
form label {
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 3px;
}
input[type=text], select, textarea {
	width: 100%;
	padding: 2px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}
.boton-ingresar {
	background-color: #14BC51;
	color: #fff;
	padding: 15px 50px;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 3px;
}

/*Fin de Inicio de sesión al sistema*/

/*Codigo del Footer*/
  .pie-pagina{
    width: 100%;
    background-color: #0a141d;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}

@media screen and (min-width:600px){
    
}