*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


nav{
    background: #ffffff;
    height: 70px;
    width: 100%;
}
.enlace{
    position: absolute;
    padding: 10px 50px;
}
.logo{
    height: 80px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #14BC51;
    font-size: 18px;
    padding: 10px 13px;
    border-radius: 3px;
    
}

li a.active, li a:hover{
    background: #14BC51;
    transition: .5s;
    color: #ffffff;
}

.contenedor
{
    display: flex;
    margin-top: 100px;
    background-color: darkgray;
    padding: 25px;
}

.image
{
    width: 500px;
    height: 400px;
    
}

.text
{
    padding-left: 25px;
    font-size: 28px;
    
}


/*Codigo del Footer*/
footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: darkgray;
  }
  footer .content{
    max-width: 1350px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  footer .content p,a{
    color: #fff;
  }
  footer .content .box{
    width: 33%;
    transition: all 0.4s ease;
  }
  footer .content .topic{
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 16px;
  
  }
  footer .content p{
    text-align: justify;
  }
  
  footer .content .middle{
    padding-left: 80px;
  }
  footer .content .middle a{
    line-height: 32px;
  }

  footer .bottom{
    width: 100%;
    text-align: right;
    color: #d9d9d9;
    padding: 0 40px 5px 0;
  }
  footer .bottom a{
    color: #14BC51;
  }
  footer a{
    transition: all 0.3s ease;
  }
  footer a:hover{
    color: #14BC51;
  }
  